<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Gate Pass System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home">
    <div class="container">
        <h2>Welcome to College Gate Pass Management System</h2>
        <a href="{{ url_for('login') }}" class="btn">Login</a>
        <a href="{{ url_for('register') }}" class="btn">Register</a>
    </div>
</body>
</html>
